@keyframes hotpoints
    0%
        transform scale(1)

    50%
        transform scale(1.5)

    100%
        transform scale(1)

@keyframes turbine
   from
        transform rotate3d(0, 0, 0, 0deg) scale(.25)

   to
        transform rotate3d(0, 0, 1, 360deg) scale(.25)
