/*
 * Utils
 */
@keyframes rotate
    from
        transform rotate3d(0, 0, 0, 0deg)

    to
        transform rotate3d(0, 0, 1, 360deg)

@keyframes pulse
    0%
        transform scale(1)

    50%
        transform scale(1.2)

    100%
        transform scale(1)

/*
 * Map items
 */
@keyframes smoke
    0%
        transform translateY(0) scale(1)
        opacity 0

    70%
        opacity 1

    100%
        transform translateY(-400%) scale(3)
        opacity 0

@keyframes carToRight
    0%
        transform translate(0, 0)
        opacity 0

    1%
        opacity 1

    49%
        opacity 1

    50%
        transform translate(4950%, -2870%)
        opacity 0

    100%
        transform translate(0, 0)
        opacity 0

@keyframes carToLeft
    0%
        transform translate(0, 0)
        opacity 0

    1%
        opacity 1

    49%
        opacity 1

    50%
        transform translate(-4950%, -2870%)
        opacity 0

    100%
        transform translate(0, 0)
        opacity 0

@keyframes carToDown
    0%
        transform translate(0, 0)
        opacity 0

    1%
        opacity 1

    49%
        opacity 1
        transform translate(-4950%, 2870%)

    50%
        transform translate(-4950%, 3000%) rotate(-45deg)
        opacity 0

    100%
        transform translate(0, 0)
        opacity 0
