.about
    position absolute
    display none
    flex-direction row
    justify-content center
    align-items center
    width 100%
    height 100%
    top 0
    right 0
    bottom 0
    left 0
    background rgba($fucking-blue, .75)
    z-index 120
    opacity 0

    &__container
        position relative
        width 75rem
        height 50rem
        background linear-gradient(-45deg, rgba($white, 0) 5%, rgba($white, 1) 5%, rgba($white, 1) 95%, rgba($white, 0) 95%)

    &__content
        position relative
        width 100%
        height 100%
        padding 3rem 6rem

        &__title
            margin-bottom 1rem
            color $purple
            font-family $font-cooper-bold
            font-size 2.2rem
            line-height 3rem
            text-transform uppercase
            antialiased()

        &__team
            margin 2.5rem 0

            &--container
                display flex
                flex-direction row

            &--member
                width 50%
                color $grey-dark
                font-family $font-pressura-regular
                font-size 1.4rem
                line-height 1.8rem
                text-transform uppercase
                antialiased()

            &--role
                color $red
                font-family $font-pressura-regular
                font-size 1.2rem
                text-transform capitalize
                antialiased()

        &__thanks
            margin 2.5rem 0

            p
                color $grey-dark
                font-family $font-pressura-regular
                font-size 1.4rem
                line-height 1.8rem
                antialiased()

            big
                display block
                color $grey-dark
                font-family $font-pressura-regular
                font-size 1.4rem
                line-height 1.8rem
                text-transform uppercase
                antialiased()

        &__credits
            margin 2.5rem 0

            p
                color $grey-dark
                font-family $font-pressura-regular
                font-size 1.4rem
                line-height 1.8rem
                antialiased()

            a
                color $red
                text-decoration none

            &--images-container
                margin 2rem 0
                display flex
                flex-direction row
                justify-content left
                align-items center

            img
                margin 2rem 4rem 0 0

            &--cci
                height 4rem

            &--gobelins
                height 6rem

        &--flowers
            margin-right 1rem

    &__close
        position absolute
        display block
        width 2rem
        height 2rem
        right 2rem
        top 3rem
        cursor pointer

        &:before
            content ''
            position absolute
            display block
            width 100%
            height .2rem
            background $purple
            transform-origin 50% 50%
            transform rotate(45deg)
            transition transform .2s ease-out

        &:after
            content ''
            position absolute
            display block
            width 100%
            height .2rem
            background $purple
            transform-origin 50% 50%
            transform rotate(-45deg)
            transition transform .2s ease-out

        &:hover, &:active
            &:before
                transform rotate(45deg) scale(1.2)

            &:after
                transform rotate(-45deg) scale(1.2)
