.btn
	&__main
		position relative
		display block
		width 12rem
		height 5rem
		font-family $font-cooper-heavy
		font-size 1.2rem
		text-transform uppercase
		letter-spacing 0.4px
		color $white
		antialiased()

		&__label-container
			position absolute
			top 50%
			right 0
			left 0
			z-index 3
			transform translate3d(0,-50%,0)
			overflow hidden

		&__label
			position relative
			display block
			transition transform .2s ease-out

			&:after
				content attr(data-labelSecondary)
				position absolute
				top 0
				left 0
				right 0
				z-index 3
				transform translate3d(0,-100%,0)

		> svg
			position absolute
			top 0
			left 0

		&__border
			opacity 0.2

		&__fill
			 transform scale3d(0, 1, 1)
			 transform-origin 5px 50%
			 transition transform .2s ease-out

		&:hover
			.btn__main__label
				transform translate3d(0,100%,0)

			.btn__main__fill
				 transform scale3d(1, 1, 1)

		&--hidden
			display none
			opacity 0

		&--0
			position absolute
			right 0
			bottom -10rem
			left 0
			margin 0 auto
			text-align center
			z-index 110

		&--1A
			display block
			opacity 0

		&--2A
			position absolute
			right 0
			bottom 0
			left 0
			margin 0 auto
			text-align center
			z-index 110

		 &--3A
			position absolute
			right 0
			bottom 0
			left 0
			margin 0 auto
			text-align center
			z-index 110

	&__return
		position absolute
		top 1.4rem
		left 1.4rem
		width 16.5rem
		height 4.7rem
		color $purple
		font-family $font-cooper-heavy
		font-size 1.2rem
		letter-spacing 0.4px
		text-transform uppercase
		antialiased()

		&__label-container
			position absolute
			top 50%
			right 0
			left 0
			z-index 3
			transform translate3d(0,-50%,0)
			overflow hidden

		&__label
			position relative
			display block
			transition transform .2s ease-out

			&:after
				content 'Retouner à la ville'
				position absolute
				top 0
				left 0
				right 0
				z-index 3
				color $white
				transform translate3d(0,-100%,0)

		> svg
			position absolute
			top 0
			left 0

		&__border
			opacity 0.2

		&__fill
			 transform scale3d(0, 1, 1)
			 transform-origin 5px 50%
			 transition transform .2s ease-out

		&:hover
			.btn__return__label
				//color $white
				transform translate3d(0,100%,0)

			.btn__return__fill
				 transform scale3d(1, 1, 1)
