.choice
	position relative
	
	&__aside
		position absolute
		top 2rem
		left 2rem
		width calc(34vw - 2rem)
		height calc(100vh - 4rem)
		background $white
		background linear-gradient(45deg, transparent 2em, $white 0) bottom left //little trick to get the cutted corner
	
	&__btn-return
		position relative
		width 16.5rem
		height 4rem
		margin 1.6rem 0 0 1.5rem
		font-size 1.2rem
		line-height 4rem
		font-family $font-cooper-heavy
		letter-spacing 0.4px
		text-transform uppercase
		color $purple
		antialiased()
		
		svg 
			position absolute
			top -0.1rem
			left 0
		
		
	&__description
		width 29rem
		margin 16.5rem auto 0
		antialiased()
		
		&__date
			font-size 1.2rem
			font-family $font-cooper-heavy
			letter-spacing 0.4px
			text-transform uppercase
			color $red
		
		&__title
			margin-top 2rem
			font-size 3rem
			line-height 3.6rem
			font-family $font-cooper-heavy
			text-transform uppercase
			color $purple
	
		&__content
			margin-top 3.5rem
			font-size 1.4rem
			line-height 2.4rem
			font-family $font-pressura-regular
			color $purple-light
		
	&__interaction
		position absolute
		left 34vw
		width 66vw
		height 100vh
		
	&__interaction-main
		position absolute
		z-index 100
		top 0
		
	&__interaction-background
		position relative
		width 66vw
		height 100vh
		background url('../../static/assets/images/choice1.png') center no-repeat
		background-size cover
		
		&:after
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			background rgba($fucking-blue,0.75)
			