.choice
	position relative

	&__aside
		position absolute
		display flex
		flex-direction column
		justify-content flex-start
		align-items center
		width 30%
		height calc(100vh - 4rem)
		top 2rem
		left 2rem
		background $white
		background linear-gradient(45deg, transparent 2em, $white 0) bottom left // Little trick to get the cutted corner

	&__description
		width 31rem
		max-height 65vh
		margin-top 16.5rem
		padding 0 1rem
		overflow auto
		antialiased()
		
		&::-webkit-scrollbar 
			width 0.5rem
			background $white
		 
		&::-webkit-scrollbar-thumb 
			background $grey-light

		&__date
			color $red
			font-family $font-cooper-heavy
			font-size 1.2rem
			letter-spacing 0.4px
			text-transform uppercase

		&__title
			margin-top 2rem
			color $purple
			font-family $font-claudia-shouter
			font-size 3rem
			line-height 3.6rem
			text-transform uppercase

		&__context
			margin-top 3.5rem
			color $purple-light
			font-family $font-pressura-regular
			font-size 1.2rem
			line-height 2.2rem

	&__interaction
		position absolute
		width 70%
		height 100vh
		left 30vw
		overflow hidden

	&__interaction-container
		position absolute
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		height 100vh
		top 0
		left 0

	&__interaction-intro
		width 32rem
		text-align center
		color $white
		antialiased()

		&__title
			margin-bottom 2.6rem
			font-family $font-cooper-heavy
			font-size 1.4rem
			letter-spacing .3px
			text-transform uppercase

		&__text
			margin-bottom 4rem
			font-size 1.4rem
			line-height 2em
			font-family $font-pressura-regular

		&__btn
			margin 0 auto


	&__interaction-main
		display none
		opacity 0

		&--root
			position absolute
			width 100%
			height 100%
			left 0
			top 0

	&__interaction-background
		position relative
		width 100%
		height 100vh
		background center no-repeat
		background-size cover

		&:after
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			background rgba($fucking-blue, 0.75)

	@media (max-width $desktop-small)

		&__aside
			justify-content center
			width 34%

		&__description
			margin-top 0

		&__interaction
			width 66%
			left 34vw
