.choice
	position relative

	&__aside
		position absolute
		display flex
		flex-direction column
		justify-content flex-start
		align-items center
		width 24%
		height calc(100vh - 4rem)
		top 2rem
		left 2rem
		background $white
		background linear-gradient(45deg, transparent 2em, $white 0) bottom left // Little trick to get the cutted corner

	&__btn-return
		position absolute
		top 1.4rem
		left 1.4rem
		width 16.5rem
		height 4rem
		color $purple
		font-family $font-cooper-heavy
		font-size 1.2rem
		line-height 4rem
		letter-spacing 0.4px
		text-transform uppercase
		antialiased()

		> span
			position absolute
			right 0
			left 0
			z-index 2

		> svg
			position absolute
			left 0

		&__border
			opacity 0.2

		&__fill
			transform scale(0)
			transform-origin 50% 50%
			transition transform .3s cubic-bezier(0.3, -0.3, 0.7, 1.4)

		&:hover

			.choice__btn-return__fill
				transform scale(1)


	&__description
		width 29rem
		margin-top 16.5rem
		antialiased()

		&__date
			color $red
			font-family $font-cooper-heavy
			font-size 1.2rem
			letter-spacing 0.4px
			text-transform uppercase

		&__title
			margin-top 2rem
			color $purple
			font-family $font-cooper-heavy
			font-size 3rem
			line-height 3.6rem
			text-transform uppercase

		&__context
			margin-top 3.5rem
			color $purple-light
			font-family $font-pressura-regular
			font-size 1.4rem
			line-height 2.4rem

	&__interaction
		position absolute
		width 76%
		height 100vh
		left 24vw
		overflow hidden

	&__interaction-container
		position absolute
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		height 100vh
		top 0
		left 0

	&__interaction-intro
		width 32rem
		text-align center
		color $white
		antialiased()

		&__title
			margin-bottom 2.6rem
			font-family $font-cooper-heavy
			font-size 1.4rem
			letter-spacing .3px
			text-transform uppercase

		&__text
			margin-bottom 4rem
			font-size 1.4rem
			line-height 2em
			font-family $font-pressura-regular

		.choice__main-btn
			margin 0 auto


	&__interaction-main
		display none
		opacity 0

		&--root
			position absolute
			width 100%
			height 100%
			left 0
			top 0

		&--dom
			position absolute
			width 100%
			height 100%
			left 0
			top 0

			&-2A
				position relative
				float left
				width 50%
				top 8vw
				text-align center
				color $white
				font-family $font-cooper-medium
				font-size 1.2rem
				letter-spacing 0.4px
				text-transform uppercase

	&__main-btn
		position relative
		display block
		width 12rem
		height 5rem
		font-family $font-cooper-heavy
		font-size 1.2rem
		text-transform uppercase
		letter-spacing 0.4px
		line-height 5rem
		color $white
		antialiased()

		> span
			position absolute
			top 0
			right 0
			left 0
			z-index 2

		> svg
			position absolute
			top 0
			left 0

		&__border
			opacity 0.2

		&__fill
			transform scale(0)
			transform-origin 50% 50%
			transition transform .3s cubic-bezier(0.3, -0.3, 0.7, 1.4)

		&:hover

			.choice__main-btn__fill
				transform scale(1)

		&--validate
			display none
			opacity 0

		&--0
			position absolute
			right 0
			bottom -9.5rem
			left 0
			margin 0 auto
			text-align center
			z-index 110

		&--2A
			position absolute
			right 0
			bottom 5rem
			left 0
			margin 0 auto
			text-align center
			z-index 110

	&__interaction-background
		position relative
		width 100%
		height 100vh
		background center no-repeat
		background-size cover

		&:after
			content ''
			position absolute
			top 0
			right 0
			bottom 0
			left 0
			background rgba($fucking-blue, 0.75)

	@media (max-width $desktop-small)

		&__aside
			justify-content center
			width 34%

		&__description
			margin-top 0

		&__interaction
			width 66%
			left 34vw
