.city
	position fixed
	top 2rem
	left 2rem
	z-index 15

	&__panel
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		width 25.5rem
		height 5.5rem
		padding-left 2rem
		background linear-gradient(315deg, transparent 1.1em, $white 0) bottom right // Little trick to get the cutted corner

	&__name
		color $blue-dark
		font-family $font-cooper-heavy
		font-size 1.6rem
		letter-spacing 0.08rem
		text-transform uppercase
		white-space nowrap

	&__shield
		margin-right 2rem

	&__infos
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		width 16.5rem
		height 5rem
		padding-left 2rem
		color $grey-dark
		font-family $font-pressura-regular
		font-size 1.8rem
		text-transform uppercase
		letter-spacing 0.4px
		background linear-gradient(315deg, transparent 0.9em, rgba($grey-lighter, 0.5) 0) bottom right
		
	&__score
		position relative
		height 1.7rem

	
	&__score-item 
		position absolute
		top 0
		
		&--0
			left 0
		&--1
			left 2.5rem
		&--2
			left 5rem
		&--3
			left 7.5rem
		&--4
			left 10rem
			
.flowers-enter
	transform scale(0)

	&-active
		transform scale(1)
		transition transform .3s ease-out

.flowers-leave
	transform scale(1)
	transition transform .3s ease-out

	&-active
		transform scale(0)
		

