.end
	position relative
	width 100%
	height 100vh
	overflow hidden
	
	&__main
		position absolute
		top 0
		left 0
		z-index 2
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 50vw
		height 100vh
		
	&__logo
		width 23rem
		margin-bottom 5.5rem

	&__content
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 38rem
		height 35rem
		padding 0 5rem
		background linear-gradient(135deg, transparent 0, $white 0) top left, linear-gradient(225deg, transparent 4rem, $white 0) top right, linear-gradient(225deg, transparent 0, $white 0) bottom right, linear-gradient(45deg, transparent 4rem, $white 0) bottom left
		background-repeat no-repeat
		background-size 50% 50%

	&__background
		position absolute
		top -5vh
		left -5vw
		width 110vw
		height 110vh
		background url('../../static/assets/images/end/end-background.png') no-repeat center
		background-size cover
		