.home
	position relative
	width 100vw
	height 100vh

	&__intro
		position absolute
		display flex
		flex-direction column
		justify-content center
		align-items center
		width calc(50vw - 12.4rem)
		height 100vh
		top 0
		left 2rem
		text-align center
		z-index 2

	&__title
		color $purple
		font-family $font-claudia-shouter
		font-size 3.2rem
		line-height 1em
		text-transform uppercase
		text-shadow 1px 1px 0px rgba(0, 0, 0, .5)

	&__subtitle
		margin-top 1rem
		color $purple
		font-family $font-cooper-heavy
		font-size 1.4rem
		text-transform uppercase
		text-shadow 1px 1px 0px rgba(0, 0, 0, .5)

	&__content
		margin-top 2.2rem
		color $white
		font-family $font-pressura-regular
		font-size 1.4rem
		line-height 2.4rem

	&__logo-container
		position absolute
		left 0
		top 50%
		right 0
		z-index 3
		transform translateY(-50%)

	&__logo-center
		position absolute
		top 50%
		right 0
		left 0
		display block
		width 3.6rem
		height 3.6rem
		margin 0 auto
		border-radius 50%
		background #3D55AB
		transform-origin 50% 50%
		transform translateY(-50%) scale(0)

	&__logo
		position relative
		z-index 2
		display block
		margin 0 auto

		&__text
			display none
			opacity 0

		&__dots-container
			transform-origin 50% 50%
			animation rotate 6s infinite linear

		&__dots
			transform-origin 50% 50%
			animation pulse 2s infinite ease-out

	&__video
		position relative
		width 100vw
		height 100vh
		object-fit cover

		&--main
			display none
			opacity 0

	&__btn-video
		position absolute
		right 0
		bottom 10.5rem
		left 0
		margin 0 auto

	&__overlay
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background rgba(0, 0, 0, .5)
