.hotpoints
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 110

    .hotpoint
        position absolute
        cursor pointer
        width 2.5vw
        height 3.3vw
        transform-origin 50% 100%
        transition transform .3s ease-out

        svg
            width 100%
            height 100%

        &--shape, &--i
            transition fill .3s ease-out

        &:hover
            transform scale(1.2)

            .hotpoint--shape
                fill $red

            .hotpoint--i
                fill $white

/*
 * ReactCSSTransitionGroup
 */
.hotpoint-leave
    position absolute
    opacity 1
    transition opacity .3s ease-out

    &-active
        opacity 0

.hotpoint-enter
    position absolute
    opacity 0
    transform translateY(-5vw)
    transition transform .5s $back, opacity .3s ease-in-out
    transition-delay 2s

    &-active
        opacity 1
        transform translateY(0vw)
