.hotpoints
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 110

    .hotpoint
        position absolute
        cursor pointer
        width 2.5vw
        height 2.5vw
        transform-origin 50% 150%
        transition transform .3s ease-out

        &--shape, &--i
            transition fill .3s ease-out

        &:hover
            transform scale(1.2)

            .hotpoint--shape
                fill $red

            .hotpoint--i
                fill $white
