.mapContainer
	position absolute
	width 100vw
	height 100vh
	transition transform, transform-origin .6s $easeOutExpo

	.map
		position absolute
		width 100%
		overflow visible
		transition transform 1s $easeOutExpo

		.mapItems
			position absolute
			width 100%
			top 0

			.mapItem
				position absolute
