.mapContainer
	position absolute
	display flex
	flex-direction column
	justify-content center
	align-items center
	width 100vw
	height 100vh
	top 0
	left 0
	transform scale3d(1, 1, 1)
	transition transform-origin 1s $easeOutExpo, transform 1s $easeOutExpo

	.map
		position relative
		width 100%
		height auto
		top 0
		left 0
		overflow visible
		transition transform 1s $easeOutExpo

		&__base
			position relative
			z-index 2

		&__shadow
			position absolute
			right 0
			bottom -3rem
			left 0
			width 97%
			margin 0 auto

	.mapItems
		position absolute
		z-index 3
