.mapContainer
	width 100vw
	height 100vh
	display flex
	justify-content center
	align-items center
	will-change all
	transition all 1s $easeOutExpo

.map
	width 100vw
	height 100vh
	overflow visible
	will-change transform
	transition transform 1.5s $easeOutExpo
