.mapItems
	position absolute
	width 100%
	height 100%
	top 0

.mapItemContainer
	position absolute
	width 100%
	height 100%

.mapItem
	position absolute
	width 100%
	height 99.99%

	&__container-smoke
		position absolute
		width 2vw
		height 2vw
		transform-origin 0% 0%
		transform scale(.25)

		&-red
			width 2vw
			height 2vw
			top 13.3%
			left 42%

			span
				background-color $red-smoke

		&-green
			width 2vw
			height 2vw
			top 13%
			left 42.6%

			span
				background-color $green-smoke

		&-grey
			width 4vw
			height 4vw
			top 53.8%
			left 53.5%

			span
				background-color $grey-smoke

	&__smoke
		display block
		border-radius 50%
		transform-origin 50% 50%
		animation smoke 4s infinite ease-in

		&-0, &-4, &-8
			animation-delay 0s
		&-1, &-5, &-9
			animation-delay -1s
		&-2, &-6, &-10
			animation-delay -2s
		&-3, &-7, &-11
			animation-delay -3s

	&__container-turbine
		position absolute
		width 20vw
		height 20vw
		transform-origin 0% 0%
		transform scale(.25)

		&-0
			top 46.4%
			left 54%
		&-1
			top 50.1%
			left 58.05%
		&-2
			top 54.1%
			left 62.35%
		&-3
			top 58%
			left 66.6%

	&__turbine
		transform-origin 50% 50%
		animation rotate 6s infinite linear

		&-0
			animation-delay -1.5s
		&-1
			animation-delay 0s
		&-2
			animation-delay -1.25s
		&-3
			animation-delay -0.5s

	&__container--car
		position absolute
		width 4vw
		height 4vw
		transform-origin 0% 0%
		transform scale(.25)
		z-index 2

		&-police
			top 69.5%
			left 23.2%

		&-red
			top 82%
			left 63%

		&-yellow-left
			top 69.5%
			left 76.2%

		&-yellow-down
			top 22.4%
			left 71.6%

		&-truck
			top 82%
			left 63%

	&--car
		display block
		transform-origin 50% 50%

		&-police
			animation carToRight 15s infinite linear

		&-red
			animation carToLeft 15s infinite linear
			animation-delay -13s

		&-yellow-left
			animation carToLeft 15s infinite linear
			animation-delay -7s

		&-yellow-down
			animation carToDown 15s infinite linear
			animation-delay -4s

		&-truck
			animation carToLeft 15s infinite linear
			animation-delay -9s

/*
 * ReactCSSTransitionGroup
 */
.mapItems-leave
	opacity 1
	filter brightness(100%) blur(0px)
	transition opacity 1.5s ease-in-out, filter 1.5s ease-in-out

	&-active
		opacity 0
		filter brightness(1000%) blur(10px)

.mapItems-enter
	opacity 0
	filter brightness(1000%) blur(10px)
	transition opacity 1.5s ease-in-out, filter 1.5s ease-in-out

	&-active
		opacity 1
		filter brightness(100%) blur(0px)
		transform translateY(0)
