.mapItems-appear
	opacity 0
	transform-origin 50% 100%
	transition all 0.6s ease-out

	&-active
		opacity 1

.mapItems-enter
	opacity 0
	transition all 0.6s ease-out

	&-active
		opacity 1

.mapItems-leave
	opacity 1
	transition all 0.6s ease-out

	&-active
		opacity 0
