.mayor
	position fixed
	width 10rem
	height 10rem
	bottom 2rem
	left 2rem
	background-size cover
	background-repeat no-repeat
	z-index 5

	&__dialog
		position absolute
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		width 30rem
		min-height 15rem
		bottom 8rem
		left 8rem
		padding 3rem 3.5rem 0
		font-family $font-pressura-regular
		font-size 1.3rem
		line-height 2em
		background linear-gradient(135deg, transparent 0, $white 0) top left, linear-gradient(225deg, transparent 2rem, $white 0) top right, linear-gradient(225deg, transparent 0, $white 0) bottom right, linear-gradient(45deg, transparent 2rem, $white 0) bottom left
		background-repeat no-repeat
		background-size 50% 50%
		opacity 0

	&__instructions
		position absolute
		bottom -4rem
		color $white
		antialiased()

	&__spacebar
		display inline-block
		vertical-align middle
		width 7rem
		height 2.5rem
		border .2rem solid $white
		line-height 2rem
		letter-spacing .4px
		text-align center
		text-transform uppercase
		border-radius .3rem
		background rgba(0, 0, 0, 0.2)
