.mayor
	position fixed
	bottom 2rem
	left 2rem
	z-index 5
	width 10rem
	height 10rem
	background $white

	&__dialog
		position absolute
		bottom 7.5rem
		left 7.5rem
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 30rem
		min-height 16rem
		padding 2rem
		font-size 1.3rem
		line-height 2em
		font-family $font-pressura-regular
		background linear-gradient(135deg, transparent 0, $white 0) top left, linear-gradient(225deg, transparent 2.5rem, $white 0) top right, linear-gradient(225deg, transparent 0, $white 0) bottom right, linear-gradient(45deg, transparent 2.5rem, $white 0) bottom left
		background-repeat no-repeat
		background-size 50% 50%
		visibility hidden
		opacity 0
