.mayor
	position fixed
	width 10rem
	height 10rem
	bottom 2rem
	left 2rem
	background-size cover
	background-repeat no-repeat
	font-family $font-pressura-regular
	font-size 1.3rem
	line-height 2em
	z-index 5

	&__dialog
		position absolute
		width 30rem
		min-height 15rem
		bottom 8rem
		left 8rem
		padding 3rem 3.5rem 0
		background linear-gradient(135deg, transparent 0, $white 0) top left, linear-gradient(225deg, transparent 2rem, $white 0) top right, linear-gradient(225deg, transparent 0, $white 0) bottom right, linear-gradient(45deg, transparent 2rem, $white 0) bottom left
		background-repeat no-repeat
		background-size 50% 50%
		opacity 0
		color #535d69
		transform-origin 0% 100%
		transform scale(0)
		antialiased()

	&__instructions
		position absolute
		width 30rem
		top 3rem
		left 11rem
		opacity 0
		color $white
		antialiased()

	&__spacebar
		display inline-block
		vertical-align middle
		width 7rem
		height 2.5rem
		border .2rem solid $white
		line-height 2rem
		letter-spacing .4px
		text-align center
		text-transform uppercase
		border-radius .3rem
		background rgba(0, 0, 0, 0.2)
