.menu
	position fixed
	display none
	flex-direction row
	justify-content center
	align-items center
	width 100%
	height 100vh
	top 0
	right 0
	bottom 0
	left 0
	background rgba($blue-darker, 0.25)
	z-index 10

	&__slice
		position relative
		width calc((100vw - 4rem) / 6)
		height calc(100vh - 4rem)
		transition background .3s ease-out

		&.is-active
			background rgba($blue-darker, 0.15)

		&:after
			content ''
			position absolute
			width 0.1rem
			height calc(100vh - 4rem)
			top 0
			right 0
			background rgba($white, 0.3)

		&--empty
			&:after
				content none

		&--todo
			.menu__label
				color $white

	&__item
		position absolute
		top 50%
		right 0
		left 0
		transform translateY(-50%)

		svg
			display block
			margin 0 auto
			overflow visible

	&__label
		position absolute
		top 10rem
		right 0
		left 0
		color rgba($white, 0.6)
		font-family $font-cooper-heavy
		font-size 1.2rem
		text-transform uppercase
		letter-spacing 0.6px
		text-align center
		antialiased()

	&__infos
		position absolute
		right 0
		bottom 5.5rem
		left 0
		color $white
		font-family $font-pressura-regular
		font-size 1.4rem
		letter-spacing 0.2px
		text-align center
		antialiased()

	&__btn
		position absolute
		z-index 110
		width 3rem
		height 3rem
		top calc(50% - 1.5rem)
		right calc(((100vw - 4rem) / 12) + 0.5rem)
		background $red
		border-radius 50%
		overflow visible
		cursor w-resize !important
		transition transform .8s $easeOutExpo, box-shadow .15s ease-out
		box-shadow 0 3px 6px rgba(0,0,0,0.3)

		&__icon
			width 3rem
			height 3rem
			transform-origin 50% 50%
			transition transform 0.3s $easeOutExpo

			span
				position absolute
				width 0.4rem
				height 0.4rem
				top 50%
				left 50%
				background $white
				border-radius 50%
				transform translate(-50%, -50%)
				transition transform 0.3s $easeOutExpo

				&:after, &:before
					content ''
					position absolute
					width 0.4rem
					height 0.4rem
					top 50%
					background $white
					border-radius 50%
					transform translate(-50%, -50%)
					transition transform 0.3s $easeOutExpo

				&:after
					left calc(50% - 0.6rem)

				&:before
					left calc(50% + 0.6rem)

		&.is-active
			box-shadow 0 0 0 rgba(0,0,0,0.4)
			.menu__btn__icon
				transform rotate(90deg) translate3d(0,0,0)

				span
					transform translate3d(-50%, 50%,0)

					&:after, &:before
						transform translate3d(-50%, -200%,0)


	&__drag-start
		position absolute
		width 0.8rem
		height 0.8rem
		top calc(50%)
		right calc(((100vw - 4rem) / 12) + 2rem)
		background $red
		border-radius 50%
		z-index 105
		transform translate(50%, -50%)

	&__drag-line
		position absolute
		height 0.2rem
		top calc(50%)
		right calc(((100vw - 4rem) / 12) + 2rem)
		background $red
		z-index 105
		transform translate(0, -50%)
		transition width 0.8s $easeOutExpo

	.icon-todo
		transform-origin 50% 50%
		animation rotate 6s infinite linear

		&__dots
			transform-origin 50% 50%
			animation pulse 2s infinite ease-out
