.wireframe
	&.is-hidden
		display none

		.toolbar
			display none

	&--home
		.wireframe__line
			position absolute
			display block
			width 1px
			height calc(22.5vh - 2rem)
			left 50%
			background $white

			&--top
				top 2rem

			&--bottom
				bottom 2rem

		.wireframe__flower
			position absolute
			display block
			transform-origin -50% 100%

			&--top
				bottom 0
				transform translate(-50%,100%)

			&--bottom
				top 0
				transform translate(-50%,-100%)

		.wireframe__trapezoid--top
			&:after
				content ''
				display block
				width 1px
				height calc(38vh - 2rem)
				background $white

	&__side
		position fixed
		z-index 100
		pointer-events none
		backdrop-filter blur(10px)

		&:after
			content ''
			position absolute
			display block
			background $white

		&--top, &--bottom
			width calc(100vw - 4rem)
			height 2rem
			left 2rem

			&:after
				width calc(100% - 2.9rem)
				height 0.1rem

			&:before
				content ''
				position absolute
				display block
				width 0.1rem
				height 4.24rem
				background $white
				transform rotate(-45deg)

			.wireframe__trapezoid
				position absolute
				left 50%
				transform translateX(-50%)


		&--left, &--right
			width 2rem
			height calc(100vh - 4rem)
			top 2rem

			&:after
				width 0.1rem
				height calc(100% - 2.8rem)

			.wireframe__trapezoid
				position absolute
				top 50%
				transform translateY(-50%)

		&--top
			top 0

			&:after
				bottom 0
				right 2.9rem

			&:before
				top 0.7rem
				right -0.1rem
				transform-origin 0 100%

			.wireframe__trapezoid
				top 2rem

		&--right
			right 0

			&:after
				left 0
				top 2.9rem

			.wireframe__arrow
				top -0.1rem
				right 1.9rem

			.wireframe__trapezoid
				right 2rem

		&--bottom
			bottom 0

			&:after
				top 0
				left 2.9rem

			&:before
				bottom 0.7rem
				left -0.1rem
				transform-origin 100% 0

			.wireframe__trapezoid
				bottom 2rem

		&--left
			left 0

			&:after
				right 0
				bottom 2.9rem

			.wireframe__arrow
				bottom 0rem
				left 1.9rem
				transform rotate(180deg)

			.wireframe__trapezoid
				left 2rem

	&__trapezoid
		fill $white

	&__arrow
		position absolute
		display block

	&__timeline-connector
		position absolute
		display block
		width calc((100vw / 12) - 3.75rem)
		height 0.2rem
		top 49.9%
		right 2rem
		background $white

	&__drag
		position absolute
		top 50%
		right calc(((100vw - 4rem) / 12) + 2rem)
		transform translate(50%, -50%)

		&__gauge
			transform-origin 50% 50%
			transform rotate(-90deg) scaleY(-1)
			transition all 0.3s ease-out
