<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>VFA 17</title>

    <link rel="icon" type="image/png" href="assets/images/logos/shield.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">

    <!-- SEO -->
    <meta name="description" content="Study project made during our first year at Gobelins Paris."/>
    <meta name="keywords" content="VFA, Ville Fleurie Awards, Ville Fleurie, Bachelor, Interactif, Designer, Développeur, Gobelins, Paris">
    <meta name="author" content="Maud Butin, Yann Kubacki, Nicolas Loureiro, Arnaud Rocca">
    <meta name="copyright" content="© Copyright 2016 - Maud Butin, Yann Kubacki, Nicolas Loureiro, Arnaud Rocca"/>

    <!-- Robots -->
    <meta name="robots" content="index, follow">
    <meta name="location" content="Paris, FRANCE">
    <meta name="google" content="notranslate">
</head>
<body>

    <div id="app"></div>

</body>
</html>
