.propaganda
	position relative
	width calc((66vw - 2rem) * .75)
	height 44rem
	margin-left -2rem

	&__slider
		position absolute
		width 24.5rem
		height 24.5rem
		top 0
		right 0
		left 0
		margin 0 auto
		border 2px solid $white
		border-radius 50%
		overflow hidden
		z-index 2

		&__item
			position absolute
			top 0
			display none
			border-radius 50%
			opacity 0

	&__line
		position absolute
		display block
		width 100%
		height .1rem
		top 70%
		background-color rgba($grey-light, 0.5)
		
		&:after, &:before
			content ''
			position absolute
			width 0.8rem
			height 0.8rem
			border 2px solid $white
			border-radius 50%
			transform translateY(-50%)
			
		&:before
			left -1rem
			
		&:after
			right -1rem
			
	&__cursor
		position absolute
		display block
		width 5rem
		height 5rem
		top calc(70% - 2.5rem)
		right 0
		left 0
		margin 0 auto
		background-color $white
		border-radius 50%
		//transition all .3s $easeOutExpo
		
		&:after, &:before
			content ''
			position absolute
			top 50%
			width 0
			height 0
			border-top .7rem solid transparent
			border-bottom .7rem solid transparent
			transform translateY(-50%)
			
		&:before
			left calc(50% - .3rem)	
			border-right .8rem solid $red;
			transform translate(-100%,-50%)
				
		&:after
			right calc(50% - .3rem)
			border-left .8rem solid $red;
			transform translate(100%,-50%)
