.terminator
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items center
    width calc(62vw - 2rem)
    height 44rem
    margin-left -2rem

    &__container
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        width 100%

    &__spacebar
        position absolute
        width 20.5rem
        height 5rem
        right 0
        bottom 0
        left 0
        margin 0 auto
        border 2px solid rgba($white, .5)
        border-radius .5rem
        color $white
        font-family $font-cooper-bold
        font-size 1rem
        text-transform uppercase
        letter-spacing .8px
        text-align center
        line-height 5rem
        antialiased()

    &__image
        &--user
            transition transform .3s $easeOutExpo
