*
	box-sizing border-box

.link
	position absolute
	top 0
	left 0
	z-index 9999

html, body
	font-size 10px

body
	height 100vh
	background-image radial-gradient(ellipse farthest-corner, $white-sky 25%, $blue-sky 100%)
	background-repeat no-repeat
	background-attachment fixed
	overflow hidden
