*
	box-sizing border-box

.link
	position absolute
	top 0
	left 0
	z-index 9999

html, body
	font-size 10px

body
	height 100vh
	background $grey-light
	overflow hidden

	&.is-menu-active
		.menu
			display flex

		.experiment__wrapper
			// filter blur(10px)
			// transition filter 0.3s ease-out

.mess
	position fixed
	left 0
	top 0
	z-index 10

.mainMenu
	.done
		color black
		text-decoration none

	.todo
		color blue
		text-decoration none

	.disabled
		color black
		text-decoration line-through
		cursor default

.choices
	position fixed
	width 100%
	left 0
	bottom 0
	z-index 10

	&-nav
		position fixed
		top 50%
