@font-face 
	font-family 'Cooper Hewitt Heavy'
	src url('../../static/assets/fonts/cooperhewitt-heavy-webfont.eot')
	src url('../../static/assets/fonts/cooperhewitt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../static/assets/fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
	url('../../static/assets/fonts/cooperhewitt-heavy-webfont.woff') format('woff'),
	url('../../static/assets/fonts/cooperhewitt-heavy-webfont.ttf') format('truetype'),
	url('../../static/assets/fonts/cooperhewitt-heavy-webfont.svg#cooper_hewittheavy') format('svg')
	font-weight normal
	font-style normal