@font-face 
	font-family 'Cooper Hewitt Heavy'
	src url($fonts-path + 'cooperhewitt-heavy-webfont.eot')
	src url($fonts-path + 'cooperhewitt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	url($fonts-path + 'cooperhewitt-heavy-webfont.woff2') format('woff2'),
	url($fonts-path + 'cooperhewitt-heavy-webfont.woff') format('woff'),
	url($fonts-path + 'cooperhewitt-heavy-webfont.ttf') format('truetype'),
	url($fonts-path + 'cooperhewitt-heavy-webfont.svg#cooper_hewittheavy') format('svg')
	font-weight normal
	font-style normal
	
@font-face 
	font-family 'Cooper Hewitt Bold'
	src url($fonts-path + 'cooperhewitt-bold-webfont.eot')
	src url($fonts-path + 'cooperhewitt-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url($fonts-path + 'cooperhewitt-bold-webfont.woff2') format('woff2'),
	     url($fonts-path + 'cooperhewitt-bold-webfont.woff') format('woff'),
	     url($fonts-path + 'cooperhewitt-bold-webfont.ttf') format('truetype'),
	     url($fonts-path + 'cooperhewitt-bold-webfont.svg#cooper_hewittbold') format('svg');
	font-weight: normal
	font-style: normal
