/*
 * Colors
 */
$red = #ff5951
$blue-dark = #484f56
$blue = #5b68b3
$grey = #dcdee5
$grey-light = #d3dae3
$grey-lighter = #edf0f4
$white = #fff

/*
 * Typography
 */
  $font-heading = 'Cooper Hewitt Heavy', Helvetica, Arial, sans-serif
 // $font-content =

/*
 * Animation
 */
$easeOutExpo = cubic-bezier(.25, 1, .15, 1)


