/*
 * Colors
 */
$red = #ff5951
$blue = #5b68b3
$grey = #dcdee5
$grey-light = #d3dae3
$white = #fff

/*
 * Typography
 */
 // $font-heading = 
 // $font-content =

/*
 * Animation
 */
$easeOutExpo = cubic-bezier(.25, 1, .15, 1)


