/*
 * Colors
 */
$red = #ff5951
$fucking-blue = #1b1e2f
$blue-darker = #293057
$blue-dark = #484f56
$blue = #5b68b3
$purple = #495495
$purple-light = #6b708e
$grey-dark = #6c707b
$grey = #dcdee5
$grey-light = #d3dae3
$grey-lighter = #edf0f4
$white = #fff


/*
 * Fonts
 */
$font-cooper-heavy = 'Cooper Hewitt Heavy', Helvetica, Arial, sans-serif
$font-cooper-bold = 'Cooper Hewitt Bold', Helvetica, Arial, sans-serif
$font-pressura-regular = 'GT Pressura Mono Regular', Helvetica, Arial, monospace

/*
 * Eases
 */
$easeOutExpo = cubic-bezier(.25, 1, .15, 1)
